<%- layout("/layouts/boilerplate") %>
<body class="bg-light">
  <div class="container mt-4">
    <h1 class="mb-4 text-center ">Create Your New Listing!</h1>
    <form method="post" action="/listings" novalidate class="p-4 bg-white shadow rounded needs-validation" enctype="multipart/form-data">
      
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" name="listing[title]" placeholder="Enter your title" required>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" name="listing[description]" placeholder="Enter your description"required></textarea>
      </div>


      <div class="mb-3">
        <label for="image" class="form-label">Upload Listing Image</label>
        <input type="file" class="form-control" name="listing[image]" required>
      </div>

      <div class="row mb-3">
        <div class="col-md-6">
          <label for="price" class="form-label">Price</label>
          <input type="number" class="form-control" name="listing[price]" placeholder="Enter price"required>
        </div>
        <div class="col-md-6">
          <label for="location" class="form-label">Location</label>
          <input type="text" class="form-control" name="listing[location]" placeholder="Enter location"required>
        </div>
      </div>

      <div class="mb-3">
        <label for="country" class="form-label">Country</label>
        <input type="text" class="form-control" name="listing[country]" placeholder="Enter country"required>
      </div>

      <div class="text-center">
        <button type="submit" class="btn  px-4">Add</button>
      </div>

    </form>
  </div>
</body>

